body {
  margin:0;
  padding: 0;
  background: white;
  font-size: 1.1em;
  line-height: 1.6;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /*
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Titan One', cursive;
    */
}
.intro-header h1 {
  padding: 0;
  font-family: 'Nunito', sans-serif;
  line-height: 1em;
  color: white;
  text-decoration: none;
  font-weight: 400;
}
.intro-header span {
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  letter-spacing: normal;
  color: #00316b;
  font-weight: 900;
}
.intro-header h2 {
  padding: 0;
  margin: 0;
  position: relative;
  top: 45px;
  color: white;
  font-family: 'Nunito', sans-serif;
}
.underline {
  text-decoration: underline;
}
h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: #006ba3;
  margin: 0;
  font-size: 2em;
  text-align: center;
}
h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  color: #006ba3;
  margin: 0;
  font-weight: 600;
}
img {
  display: block; /* This displays it across the width of the whole screen*/
  width: 100%; /* of it's container. ATM which is the div tag w/id of card*/
  height: auto;
}
p {
  margin: 0;
  padding: 0;
}

/*SEE MORE BUTTON*/
.see-more-button {
  text-align: center;
  position: relative;
  padding: 6em 0 2em 0;
}
.see-more-button a{
  padding: 1em 3em;
  background: #00316b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.see-more-button a:hover{
  background: #006ba3;
}

nav {
  width: 100%;
  background: #006ba3;
  position: fixed;
  z-index: 1000;
  transition: .4s;
  border-bottom: 1px solid #005079;
}
ul {
  margin: 0 auto;
  padding: 0;
  display: none;
  text-align: right;
}
ul li {
  list-style: none;
  display: block;
  text-align: center;
  height: 71px;
  line-height: 71px;
  background: #00316b;
  }
ul li a {
  text-decoration: none;
  color: #fff;
  font-size: .9em;
  padding: 30px 20px;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
}
ul li:hover {
  background: #00316b;
  /*background: #e91e63;*/
}
.toggle {
  display: block;
  width: 100%;
  padding: 16px 20px;
  background: #006ba3;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.5em;
  transition: .4s;
}
.fa-bars {
}
.fa-bars:hover {
  color: #00316b;
}
.active {
  display: block;
}
.notActive {
  display: none;
}

/*BACKGROUND IMAGING FOR MOBILE AND DESKTOP*/
.mobileimgcenter {
  display: grid;
  grid-template-columns: 1fr 260px 1fr;
  background: #2a9fdc;
}
.mobileimg {
  grid-column: 2/3;
  border-radius: 50%;
  position: relative;
  top: 100px;
}
.desktopimg {
  display: none;
}

/* Header */
#header {
  margin: 0;
  text-align: center;
  height: 100vh;
  background: #2a9fdc;
}

/*INTODUCTION MAIN PAGE*/
.intro {
  text-align: center;
  position: relative;
  top: 5em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 320px 1fr;
  grid-template-rows: .5fr .5fr .5fr;
}
.intro-header {
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
}

.intro-header p {
  color: white;
}

/*LANDING PAGE SEE MY WORK BUTTON - EASY SCROLL*/
.btn-outline {
  text-align: center;
  position: relative;
  padding: 6em 0 2em 0;
  grid-column: 2/3;
  grid-row: 3/4;
  display: none;
}
.btn-outline a{
  padding: 1em 3em;
  background: #00316b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn-outline a:hover{
  background: #006ba3;
}

/* Case Studies */
#section-1 {
  background: white;
  padding: 0 2em 4em 2em;
}
#section-1 h1 {
  padding: 2em 0 .5em 0;
}
.cs1, .cs2, .cs3, .cs4, .cs5 {
  z-index: 100;
}
.cs1 img, .cs2 img, .cs3 img, .cs4 img, .cs5 img {
  transition: .2s;
  z-index: 100;
}
.cs2 img, .cs3 img, .cs4 img, .cs5 img {
  padding-top: 2em;
}
.cs1 img:hover, .cs2 img:hover, .cs3 img:hover, .cs4 img:hover, .cs5 img:hover {
  transform: scale(1.1);
  transition: .2s;
  z-index: 100;
}
.cs1info, .cs2info, .cs3info, .cs4info, .cs5info {
  border-bottom: 1px solid #555;
  z-index: 300;
}
.cs1info h2, .cs2info h2, .cs3info h2, .cs4info h2, .cs5info h2 {
  color: #555;
  z-index: 300;
  padding: .5em 0;
}
.cs1p, .cs2p, .cs3p, .cs4p, .cs5p {
  padding-bottom: 1.5em;
}

/* Art work */
#section-2 {
  padding: 0 2em 4em 2em;
  background: #e2e2e2; /* #97d7b5; */
}
#section-2 h1 {
  color: #006ba3;
  padding: 2em 0 .5em 0;
}
#section-2 p {
  padding-bottom: 3.4em;
  text-align: left;
}
.art-grid {
  display: grid;
  grid-template-columns: 1fr;
  /*opacity: 0;*/
  transition: opacity 5s;
  grid-column-gap: .5em;
  grid-row-gap: .5em;
}
.art-grid img {
  transition: .2s;
  box-sizing: border-box;
  box-shadow: -2px 3.5px 20px 1px #a5a5a5;
}
.art-grid img:hover {
  box-shadow: -2px 3.5px 60px 4px #a5a5a5;
  transform: scale(1.1);
  transition: .2s;
}
.pic1, .pic2, .pic3, .pic4, .pic5, .pic6 {
  border: 14px solid white;
  background: white;
}
/* Who am I?! */
#section-3 {
  padding: 0 2em 4em 2em;
  background: white;
}
#section-3 h1 {
  padding: 2em 0 .5em 0;
}
#section-3 p{
  text-align: left;
}

/* Section 4 / BOXES CONTACT AND FAMILY*/
#section-4 .box {
  padding: 2em;
  padding-top: 4em;
  background: red;
  text-align: center;
}
#section-4 h1 {
  padding-bottom: .5em;
  color: #006ba3;
}
#section-4 p {
  padding-bottom: 2em;
}
#section-4 .see-more-button {
  padding: 4em 0;
}
#section-4 .box:first-child {
  background: #e2e2e2;
  color: #222222;
}

/* Footer */
#footer {
  padding: 2em;
  background: white;
  color: #555;
  text-align: center;
}
#footer a {
  text-decoration: none;
  color: #00316b;
}

/* MEDIA QUERY */
@media(min-width: 600px) {

  #header {
    background: none;
  }
  .intro {
    grid-template-columns: 1fr 12fr 1fr;
    position: absolute;
    top: 32%;
  }
  .intro-header p {
    padding: .7em 0;
    font-size: 1.2em;
  }
  .desktopimg {
    height: 120%;
    width: auto;
    position: fixed;
    z-index: -200;
    display: block;
    border-radius: 0;
  }
  .mobileimg {
    display: none;
  }
  .btn-outline {
    padding: 3em 0;
  }

  #section-1 h1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #section-1 .see-more-button {
    grid-column: 1/3;
  }
  #section-1 h1 {
    grid-column: 2/4;
  }
  .case-studies-container {
    display: grid;
    grid-row-gap: 2em;
    grid-column-gap: 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 8em 1em 2em 1em;
  }
  .cs1 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 0;
    align-self: center;
  }
  .cs2 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 0;
    align-self: center;
  }
  .cs3 {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-top: 0;
    align-self: center;
  }
  .cs4 {
    grid-column: 1/2;
    grid-row: 4/5;
    padding-top: 0;
    align-self: center;
  }
  .cs5 {
    grid-column: 1/2;
    grid-row: 5/6;
    padding-top: 0;
    align-self: center;
  }
  .cs1info {
    grid-column: 2/3;
    grid-row: 1/2;
    border-bottom: 0px solid white;
  }
  .cs2info {
    grid-column: 2/3;
    grid-row: 2/3;
    border-bottom: 0px solid white;
  }
  .cs3info {
    grid-column: 2/3;
    grid-row: 3/4;
    border-bottom: 0px solid white;
  }
  .cs4info {
    grid-column: 2/3;
    grid-row: 4/5;
    border-bottom: 0px solid white;
  }
  .cs5info {
    grid-column: 2/3;
    grid-row: 5/6;
    border-bottom: 0px solid white;
  }

  .cs1info h2, .cs3info h2, .cs5info h2 {
    grid-column: 3/4;
    text-align: left;
    padding: 0;
  }
  .cs2info h2, .cs4info h2{
    grid-column: 2/3;
    text-align: left;
    padding: 0;
  }
  .cs1info p, .cs2info p, .cs3info p, .cs4info p, .cs5info p {
    text-align: left;
    z-index: 300;
  }
  .cs1 img, .cs2 img, .cs3 img, .cs4 img, .cs5 img {
    padding: 0;
  }
  .cs1p, .cs2p, .cs3p, .cs4p, .cs5p {
    padding-bottom: 0;
  }

  .art-grid {
    grid-template-columns: 1fr 1fr;
  }

  #section-3 h2 {
    padding: 1em 0 4em 0;
  }

  #section-4 h2 {
    padding-bottom: 0;
  }
  #section-4 div {
    padding: .5em;
  }
  #section-4 p {
    padding-bottom: 1em;
    padding-top: 0;
  }

  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #footer div {
    font-size: .9em;
  }
  #footer div:first-child {
    grid-column: 1/2;
  }
}

@media(min-width: 750px) {

  .intro {
    top: 20%;
  }
  .intro-header h1 {
    font-size: 5em;
  }
  .intro-header p {
    font-size: 1.5em;
  }
  .intro-header h2 {
    font-size: 2em;
    top: 90px;
  }

  #section-1 h1 {
    grid-column: 2/4;
  }
  #section-1 p {
    grid-column: 2/4;
    margin: auto;
  }
  #section-1 .see-more-button {
      grid-column: 2/4;
  }

  #section-2 {
    display: grid;
    grid-template-columns: .5fr 2fr 2fr .5fr;
  }
  #section-2 h1 {
    grid-column: 2/4;
  }
  #section-2 p {
    grid-column: 2/4;
    margin: auto;
  }
  .art-grid {
    grid-column: 2/4;
  }

  #section-2 .see-more-button {
      grid-column: 2/4;
  }

  #section-3 {
    display: grid;
    grid-template-columns: .5fr 2fr 2fr .5fr;
  }
  #section-3 h1 {
    grid-column: 2/4;
  }
  #section-3 p {
    grid-column: 2/4;
    margin: auto;
  }
  #section-3 .see-more-button {
      grid-column: 2/4;
  }

}

@media(min-width: 850px) {

  .intro {
    grid-template-columns: .2fr 1fr 455px 130px;
  }
  .intro-header {
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
    text-align: right;
  }
  .intro-header h1 {
    font-size: 5em;
    text-align: left;
  }
  .intro-header span {
    margin-left: -50px;
  }
  .intro-header p {
    font-size: 1.5em;
    text-align: left;
  }
  .intro-header h2 {
    text-align: left;
    top: 90px;
    font-size: 2em;
  }
  .btn-outline {
    text-align: left;
    margin-top: -20px;
  }
}

@media(min-width: 950px) {
  nav {
    text-align: none;
  }
  ul {
    float: right;
    padding-right: 100px;
    display: inline-block;
  }
  ul li {
    display: inline-block;
    background: none;
  }
  .toggle {
    display: none;
  }

  .case-studies-container {
    grid-row-gap: 3em;
  }

}

@media(min-width: 1050px) {

  .case-studies-container {
    grid-column-gap: 0em;
    grid-row-gap: 6em;
    grid-template-columns: 1fr 480px 480px 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .cs1 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 0;
  }
  .cs2 {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-top: 0;
  }
  .cs3 {
    grid-column: 2/3;
    grid-row: 3/4;
    padding-top: 0;
  }
  .cs4 {
    grid-column: 3/4;
    grid-row: 4/5;
    padding-top: 0;
  }
  .cs5 {
    grid-column: 2/3;
    grid-row: 5/6;
    padding-top: 0;
  }
  .cs1info {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-right: 5em;
    border-bottom: 0px solid white;
  }
  .cs2info {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 5em;
    border-bottom: 0px solid white;
  }
  .cs3info {
    grid-column: 3/4;
    grid-row: 3/4;
    padding-right: 5em;
    border-bottom: 0px solid white;
  }
  .cs4info {
    grid-column: 2/3;
    grid-row: 4/5;
    padding-left: 5em;
    border-bottom: 0px solid white;
  }
  .cs5info {
    grid-column: 3/4;
    grid-row: 5/6;
    padding-left: 5em;
    border-bottom: 0px solid white;
  }

  .cs2info h2, .cs4info h2, .cs2info p, .cs4info p {
    text-align: right;
  }

  #section-2, #section-3 {
    grid-template-columns: 1fr 360px 360px 1fr;
  }

}

@media(min-width: 1600px) {
  #section-1 {
    grid-template-columns:  1.2fr 2fr 2fr 1.2fr;
  }
}

@media(min-width: 1600px) {

  .family {
    grid-column-gap: 3em;
  }

  .members {
    grid-column-gap: 3em;
  }

}
